 @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');


.contenedor::-webkit-scrollbar {
  width: 10px; 
}
.contenedor::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.contenedor::-webkit-scrollbar-thumb {
  background: #001256;
  border-radius: 20px; 
}

.contenedor::-webkit-scrollbar-thumb:hover {
  background: #03BB85; 
}


body{
    font-family: 'Urbanist', sans-serif;
}
/*FONDO*/
body {
    margin: 0;
    padding: 0; 
}
/*
.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #f1ffff;
    z-index: -2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    overflow: hidden;
}

.background::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: -30%;
    left: -50%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg, #03BB85, #03BB85, #03BB85);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.background::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(60deg, #001256, #001256, #001256);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/

@media (min-width: 320px) and (max-width: 768px){
    .contenedor {
        background: #ffffff;
        width: 100%;
        height: 100vh;
        margin: auto;
        position: absolute;
        top: 80px;
        z-index: 1;
        display: flex;
        overflow: auto;
    }
}
@media (min-width: 1024px) and (max-width: 2560px){
    .contenedor {
        background: #ffffff;
        width: 85%;
        height: 100vh;
        margin-top: 80px;
        margin: auto;
        position: absolute;
        top: 80px;
        z-index: 1;
        display: flex;
        margin-left: 15%;
        overflow: auto;
    }
}

.acciones{
    background-color: #ffffff;
    margin-top: 0px;
    width: 100%;
    text-align: center;
}
.acciones h1{
    color: #001256;
}
.acciones table{
    width: 90%;
    margin: 10px auto;
}
.acciones thead{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #03BB85;
}
.acciones table tr{
        width: 100%;
}
.acciones table td{
    width: 33.33%;
}
.acciones table tbody td{
    padding: 0.5% 0%;
}
.acciones table a{
    text-decoration: none;
    color: #ffffff;
    background-color: #001256;
    width: 100%;
    border-radius: 15%;
    text-align: left;
}
.acciones table a:hover{
    background-color: #03BB85;
}   
/*overlay*/
        .overlay{
            background: rgb(0, 0, 0,.5);
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 6;
            visibility: hidden;
        }
        .pop-up{
            background: #ffffff;
            box-shadow: 1px 5px 0px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            width: 500px;
            height: 450px;
            padding: 10px;
            color: #001256;
            z-index: 6; 
            margin:10px;
            text-align: center;
        }
        .pop-up form{
            margin-top: 17px;
            display: flex-end;
            flex-direction: column;

        }
        .pop-up form label{
            text-align: left;
            margin-left: 0px;
            font-weight: 700px;
            color: #03BB85;
        }
        .pop-up input{
            width: 90%;
            height: 35px;
            margin: 5px auto;
            border:none;
            outline:none;
            background-color: #F1FCF9; 
            border-radius: 10px;
            text-align: center;
            font-size: 18px;
            margin-bottom: 5px;
        }
        .pop-up select{
            font-size: 18px;
            width: 70%;
            outline: none;
            border-radius: 10px;
            border:none;
            text-align: center;
            background-color: #F1FCF9;
            height: 35px;
            margin-bottom: 10px;
        }
        .pop-up input[type="submit"]{
            width: 50%;
            height: 30px;
            background-color: #03BB85;
            color: #f1ffff;
            margin-top: 30px;
        }
        .pop-up input[type="submit"]:hover{
            background-color: #001256;
        }
        .pop-up .btn-cerrar{
            margin: 7px;
            font-size: 16px;
            line-height: 16px;
            display: block;
            text-align: right;
            color: #cccccc;
            cursor: pointer;
        }
        .pop-up .btn-cerrar:hover{
            color: #001256;
        }
        .pop-up h4{
            text-align: center;
            margin-bottom: 20px;
        }
        .overlay.active{
                visibility: visible;
                z-index: 6;
        }


/*Boton-Modal*/
.boton-modal{
    padding: 40px;
    background-color: #fff;
}
.boton-modal label{
    padding: 10px 15px;
    background-color: #001256;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #03BB85;
}
/*Fin Boton-Modal*/

/*Ventana Modal*/
#btn-modal{
    display: none;
}
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background: rgb(0, 0, 0,.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    flex-direction: column;
}
.content-modal h2{
    margin-bottom: 15px;
    color: #001256;
    text-align: center;
}
.content-modal form{
    flex-direction: column;
    width: 100%;
}
.content-modal form input{
     width: 90%;
     height: 33px;
     margin: 5px auto;
     border:none;
     outline:none;
     background-color: #F1FCF9; 
     border-radius: 10px;
     text-align: center;
     font-size: 16px;
     margin-bottom: 5px;
}
.content-modal form select{
    font-size: 16px;
    width: 70%;
    outline: none;
    border-radius: 10px;
    border:none;
    text-align: center;
    background-color: #F1FCF9;
    height: 35px;
    margin-bottom: 10px;
}
.content-modal form input[type="submit"]{
    width: 50%;
    height: 30px;
    background-color: #03BB85;
    color: #f1ffff;
    margin-top: 30px;
}
.content-modal form input[type="submit"]:hover{
    background-color: #001256;
}
.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    color: #03BB85;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    background-color:#001256;
    color: #ffff;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}
/*Fin Ventana Modal/